<h1><u>Entry Level Full Stack Web Applications Developer</u></h1>
<h1><u>Summary</u></h1>
<h3>
    Exceptionally creative and dependable U.S. Army Veteran transitioning from Level II Specialized Application Support to Entry Level Full Stack Web Applications Developer with stellar customer service record and superb work ethic. Broadly and deeply knowledgeable
    in a wide variety of computer languages as well as the principles and techniques of website construction and maintenance. Highly adept at conveying complex technical information to a variety of professional and lay audiences in a clear and understandable
    manner.
</h3>