<div>
<h1><u>Profesional Development</u></h1>
<h2>MAX TECHNICAL TRAINING, MASON, OH</h2>
<h3>.NET/C# BOOTCAMP, JANUARY 2018-APRIL 2018</h3>
<h3>Completed Cincy Code IT’s .NET development boot camp comprising of 440 hours of concentrated, advanced, and deeply engaging Full Stack Software Development.  The camp combined in class instruction, hands-on programming, individual based project work, and mentoring to ensure a thorough comprehension of coding and concepts.</h3>
<h3>Created full operational purchase request system from the ground up based on provided requirement documentation as Capstone Project. </h3>
</div>